<!-- Header -->

<header class="header">

<!-- Header Content -->
<div class="header_container">
<div class="container">
<div class="row">
<div class="col">
<div class="header_content d-flex flex-row align-items-center justify-content-start">
<div class="logo_container">
<a href="#">
<div class="logo_text">Krida<span>thon</span></div>
</a>
</div>
<nav class="main_nav_contaner ml-auto">
<ul class="main_nav">
<li class="active"><a href="#">Home</a></li>
<li><a href="about.html">About</a></li>
<li><a href="games.html">Games</a></li>
<li><a href="summary.html">Summary</a></li>
<li><a href="contact.html">Contact</a></li>
</ul>
</nav>

</div>
</div>
</div>
</div>
</div>

</header>
